{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 5%"
          ],
          "node": "6.10"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ]
}